# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# Runtime data
pids/
*.pid
*.seed

# Coverage directory
coverage/

# Grunt intermediate storage
.grunt/

# node-waf configuration
.lock-wscript

# Mac files
.DS_Store

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Firebase
.runtimeconfig.json
