.gracias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9fafb;
    padding: 20px;
}

.gracias-card {
    background: white;
    padding: 40px;
    width: 400px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    animation: fadeIn .4s ease;
}

.icon-success {
    font-size: 70px;
    color: #28a745;
}

.order-box {
    background: #eef8ff;
    padding: 12px;
    margin: 20px 0;
    border-radius: 6px;
    font-size: 18px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-home {
    background: #007bff;
    color: white;
}

.btn-home:hover {
    background: #005fcc;
}

.btn-order {
    background: #17a2b8;
    color: white;
}

.btn-order:hover {
    background: #0d869a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}