.content {
    background-color: #f3ecec;
    min-height: 80vh;
    padding: 20px;
}

.page-title {
    background: #f1f1f1;
    color: #514242;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

.table-container {
    width: 100%;           /* ahora ocupa el 100% del espacio */
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-auxiliares {
    width: 100%;           /* la tabla ocupa todo el ancho */
    background-color: #ffffff;
    font-size: 1rem;       /* puedes ajustar el tamaño del texto */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.footer {
    background-color: #0d0c0c;
    color: #fff;
    padding: 40px;
}
